/*-------------------------------------------------------
font-style
/*-----------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

$top-title: 'Dancing Script', cursive;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

$main-font: 'Noto Sans JP', sans-serif;

// @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

// $main-font: 'M PLUS Rounded 1c', sans-serif;

/*-------------------------------------------------------
color
/*-----------------------------------------------------*/

$image-color: #ebf6f7;

$primary-color: #3490dc;

$font-color: #4d5156;

$mans-color: #4d4c61;

$womans-color: #e95464;
